.dashboardContainer {
  display: flex;
  height: 100vh;
}

.formContainer {
  height: 100vh;
  padding: 2.5vh;
  display: flex;
  flex-direction: column;
}

.formContainer > label {
  margin-top:0.5vw;
  margin-bottom:0.5vw;
}

.formContainer > input {
  padding: 0.5vh;
}

.formContainer > select {
  padding: 0.5vh
}

.newVoteContainer {
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  flex-direction: column;
  height: 100vh;
  width: 25vw;
  color:white;
}

.newEventHeader {
  margin-bottom: 0vh;
}

.headerContent {
  font-size: 4vh;
  margin-top: 3.5vh;
}

.formEntry {
  margin-bottom: 5%;
}

.constraintBtn {
  border-radius: 11px;
  color:white;
  border-color: white;
  border-style: solid;
  background-color: rgba(0,0,0,0);
  font-size: 2.5vh;
  padding: 15px 30px 15px 30px;
  margin-top: 5%;
  text-decoration: none;
}

.constraintBtn:hover {
  background-color: rgba(255,255,255,0.25);
}

.profileImage {
  height: 10vh;
  width: 10vh;
  border-radius: 50%;
  margin-right: 1.5vw;
  border-style: solid;
  border-width: 5px;
}

.userHeader {
  background-color: rgba(0, 0, 0, 0.5);
  padding-top: 2.5vh;
  color: white;
  height: 13.5vh;
  width: 74vw;
  display:flex;
  justify-content: center;
}

.eventContent {
  color:white;
  background-color: rgba(255, 255, 255, 0.35);
  height: 18vh;
}

.eventContent:hover {
  background-color: rgba(255, 255, 255, 0.75);
}

.line {
  align-self: center;
  border:0.2vh;
  width:20vw;
  border-style: solid;
}

.widget {
  padding:7.5vh;
  align-self: center;
}

.widget:hover {
  padding:7.5vh;
  align-self: center;
  background-color: rgba(255, 255, 255, 0.1);
}

.eventHeader {
  height:5vh;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 2.5vh;
  position:relative;
}

.eventHeaderContent {
  position: absolute;
  bottom: 0px;
  padding-left: 0.8vw;
  padding-bottom: 0.8vh;
}

.headerContainer {
  display: flex;
  margin-top: 0px;
}

.eventBoardContainer {
  max-height: 100vh;
  overflow: auto;
}

