@font-face {
  font-family: 'selimaregular';
  src: url('../fonts/selima-webfont.woff2') format('woff2'),
       url('../fonts/selima-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  background: url('../images/background.png') no-repeat;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.loginContainer {
  text-align: center;
  height: 695px;
  width: 1110px;
  border-radius: 10px;
  margin: auto;
  margin-top: 10vh;
  flex: 1;
  background: url('../images/login.png');
  box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.8);
}

.loginContent {
  display:flex;
  flex-direction: column;
}

.landingTitle {
  font-family: 'selimaregular', sans-serif;
  font-size: 80px;
  text-shadow: 6px 6px black;
  text-align: left;
  padding-left: 35px;
  padding-top: 10px;
  color: white;
  width: 510px;
  height: 120px;
  align-self:flex-end;
  float:right;
  background-color: rgba(238,56,56,0.8);
  margin-bottom: 15px;
}

.signin {
  font-family: 'selimaregular', sans-serif;
  font-size: 35px;
  align-self: flex-end;
  width: 300px;
  height: 100px;
  text-shadow: 3px 3px black;
  color: white;
  background-color: rgba(224,140,56,0.7);
  border-style: none;
}

.signin:hover {
  background-color: rgba(224,140,56, 1);
}
