@import url(https://fonts.googleapis.com/css?family=Rokkitt:400,700,300);

@import url('https://cdn.jsdelivr.net/animatecss/3.5.2/animate.min.css');

@font-face {
  font-family: 'selimaregular';
  src: url('../fonts/selima-webfont.woff2') format('woff2'),
       url('../fonts/selima-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  background: url('../images/background.jpg') no-repeat;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.loginContainer {
  text-align: center;
  height: 698px;
  width: 1151px;
  border-radius: 10px;
  margin: auto;
  margin-top: 10vh;
  flex: 1;
  background: url('../images/login.png');
  box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.8);
  flex-direction: column;
}

.loginContent {
  display:flex;
  justify-content: space-between;
}

.landingTitle {
  font-family: 'selimaregular', sans-serif;
  font-size: 80px;
  text-shadow: 4px 4px black;
  color: white;
  margin-left: 165px;
  margin-top: 290px;
  position: absolute;
}

.landingLogo {
  font-family: 'selimaregular', sans-serif;
  font-size: 240px;
  text-shadow: 6px 6px black;
  position: absolute;
  margin-top: 0px;
  color: white;
  margin-left: 250px;
  margin-top: 70px;
}

.loginInfo {
  margin-top: 50px;
  font-family: 'Rokkitt';
  font-size: 30px;
  color: white;
}

.signin {
  font-size: 35px;
  margin-top: 338px;
  margin-right: 60px;
  padding:30px;
  width: 390px;
  height: 300px;
  background-color: rgba(0,0,0,0.8);
  border-style: none;
}

.signinBtn {
  font-family: 'selimaregular', sans-serif;
  font-size: 30px;
  color: rgba(220,122,24,1);
  border-color: rgba(220,122,24,1);
  border-radius: 5px;
  background-color: rgba(0,0,0,0);
  margin-top: 15px;
  border-width: 3px;
  height: 50px;
  width: 170px;
  transition: border-radius 2s, height 2s, width 2s;
}

.signinBtn:hover {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: tada;
  animation-name: tada;
  cursor: pointer;
}
