.pollingContainer {
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.4);
}

.votefieldContainer {
  display: flex;
}

.nominationContainer {
  display: flex;
  overflow:auto;
}

.controlBoardContainer {
  display:flex;
  height: 100vh;
  width: 30vw;
  justify-content: center;
}

.chatbox {
  color:white;
  padding-left: 2vh;
  width: 30vw;
  max-height: 100vh;
  position: relative;
}

.chatHeader {
  height: 70px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.chatTitle {
  font-family: 'selimaregular', sans-serif;
  font-size: 50px;
  margin-right: 20px;
  align-self: flex-end;
}

.socializeNowLogo {
  display: flex;
  text-align: center;
}

.SN {
  font-family: 'selimaregular', sans-serif;
  font-size: 60px;
}

.SNTag {
  font-family: 'selimaregular', sans-serif;
  align-self: center;
  margin-left: 10px;
  font-size: 25px;
}

.messages {
  max-height: 85vh;
  top: 60px;
  overflow: auto;
  position: absolute;
  direction: rtl;
  left:0px;
  padding-left: 15px;
  width: 27vw;
  bottom: 4vh;
}

.messages::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

.messages::-webkit-scrollbar
{
  width: 5px;
  background-color: #F5F5F5;
}

.messages::-webkit-scrollbar-thumb
{
  background-color: #000000;
  border: 2px solid #555555;
}

.messageBox {
  display: flex;
  margin: 8px;
}

.messageContent > div {
  margin: 2px;
}

.name {
  align-self: flex-end;
  font-size:20px;
  font-weight: bold;
}

.messageContent {
  display:flex;
  flex-direction: column;
  padding: 20px;
}

.chatProfile {
  height: 80px;
  width: 80px;
  border-radius: 15px;
  border-color: white;
  border-width: 3px;
  border-style: inset;
  align-self: center;
}

.chatForm {
  position: absolute;
  margin-bottom: 20px;
  bottom: 5px;
}

.chatMessage {
  text-align: left;
  padding: 10px;
}

.chatButton {
  display:none;
}

.textBoxContainer{
  display:flex;
  width: 27vw;
  justify-content: center;
}

.textBox {
  color: white;
  font-size: 17px;
  width: 25vw;
  background-color: rgba(0,0,0,0);
  border-radius: 10px;
  padding: 10px;
}

.emailFriends {
  position: absolute;
  margin-bottom: 15px;
  bottom: 0vh;
}

.userListContainer {
  display: flex;
  flex-wrap:wrap;
  max-width: 97vw;
  margin:auto;
  overflow: auto;
  display:flex;
  justify-content: center;
}

.participantHolder {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.userButtons {
  display: flex;
  justify-content: center;
  width: 15vw;
  background-color: rgba(0, 0, 0, 0.5);
  max-height: 25vh;
  border-color: white;
  border-style: double;
  border-radius: 5px;
  flex-direction: column;
}
.voterStatusContainer {
  background-color: rgba(0, 0, 0, 0.5);
  border-color: white;
  border-style: double;
  border-radius: 5px;
  color:white;
  max-height: 25vh;
  overflow: auto;
}

.userContainer {
  display: flex;
  color:white;
  margin: 55px;
  margin-top: 10px;
}

.voterStatus {
  margin: 2vh;
  width: 8vw;
}

.emailHolder{
  display:flex;
  justify-content: center;
}

.voters {
  text-align: center;
}

.lobby {
  color:white;
  background-color: rgba(0, 0, 0, 0.5);
  border-color: white;
  border-style: double;
  border-radius: 5px;
  position: relative;
}

.votingBoard {
  display:flex;
  color:white;
  background-color: rgba(0, 0, 0, 0.5);
  border-color: white;
  border-style: double;
  border-radius: 5px;
  margin:2vw;
  width: 100vw;
  text-align: center;
}

.participantContainer {
  text-align: center;
}

.startBtn {
  border-radius: 11px;
  color:white;
  border-color: white;
  border-style: solid;
  background-color: rgba(0,0,0,0);
  font-size: 2vh;
  padding: 15px 30px 15px 30px;
  text-decoration: none;
  margin: auto;
  margin-top: 1vh;
  margin-bottom: 1vh;
  height: 7vh;
  width: 12vw;
}

.startBtn:hover {
  background-color: rgba(255,255,255,0.5);
}

.voteboardContent {
  margin: auto;
  overflow: auto;
  max-width: 87vw;
}

.nominee {
  margin: 5vh;
}

.infoBtn {
  border-radius: 11px;
  color:white;
  border-color: white;
  border-style: solid;
  background-color: rgba(0,0,0,0);
  font-size: 2vh;
  padding: 15px 30px 15px 30px;
  text-decoration: none;
  margin: auto;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.infoBtn:hover {
  background-color: rgba(255,255,255,0.5);
}

.profileName {
  font-size: 30px;
  margin: auto;
  margin-left: 20px;
}

.btnLink {
  color:white;
  text-decoration: none;
}

.winner {
  display:flex;
  color:white;
  background-color: rgba(0, 0, 0, 0.5);  border-color: white;
  border-style: double;
  border-radius: 5px;
  margin:2vw;
  width: 100vw;
  text-align: center;
}

.winnerContent {
  text-align: center;
  margin: auto;
}

.pinnedMessages {
  display:flex;
  color:white;
  background-color: rgba(0, 0, 0, 0.5);  border-color: white;
  border-style: double;
  border-radius: 5px;

  width: 100vw;
  text-align: center;
}

.pinnedMessagesContent{
  text-align: left;
  margin: auto;
}

.pinnedMessage {
  display:flex;
  color:white;
  background-color: rgba(0, 0, 0, 0.5);  border-color: white;
  border-style: double;
  border-radius: 5px;
  margin:2vw;
  width: 25vw;
  text-align: center;
}

.pinnedMessageContent{
  text-align: left;
  margin: auto;
}

.profilePicture {
  height:100px;
  width: 100px;
  border-radius: 50%
}
