.pollingContainer {
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.4);
}

.votefieldContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.linkHome {
  text-decoration: none;
  color: white;
}

.nominationContainer {
  display: flex;
  overflow: hidden;
  max-width: 65vw;
  min-width:0;
  min-height:0;
}

.controlBoardContainer {
  display:flex;
  height: 100vh;
  width: 30vw;
  justify-content: center;
}

.boardContainer {
  display: flex;
  flex-direction: column;
}

.bottomBoard {
  display: flex;
}

.boardUserListContainer {
  display: flex;
  flex-wrap: wrap;
  max-height: 100vh;
  overflow: auto;
}

.slider {
  min-width:0;
  min-height:0;
  margin-bottom: 0px;
}

.chatbox {
  color:white;
  padding-left: 2vh;
  width: 30vw;
  max-height: 100vh;
  position: relative;
}

.slick-next {
  position:fixed;
  top: 40vh;
  right: 1vw;
}

.slick-prev {
  position:fixed;
  top: 40vh;
  left: 31vw;
}

.box {
  height: 200px;
  width: 200px;
  fill: red;
}

.chatHeader {
  height: 70px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.chatTitle {
  font-family: 'selimaregular', sans-serif;
  font-size: 50px;
  margin-right: 20px;
  align-self: flex-end;
}

.socializeNowLogo {
  display: flex;
  text-align: center;
}

.SN {
  font-family: 'selimaregular', sans-serif;
  font-size: 60px;
}

.SNTag {
  font-family: 'selimaregular', sans-serif;
  align-self: center;
  margin-left: 10px;
  font-size: 25px;
}

.messages {
  max-height: 85vh;
  top: 60px;
  overflow: auto;
  position: absolute;
  direction: rtl;
  left:0px;
  padding-left: 15px;
  width: 27vw;
  bottom: 4vh;
}

.chatMessage {
  direction: ltr;
}

.lobbyTitle {
  font-family: 'selimaregular', sans-serif;
  margin-top: 8px;
  height: 70px;
  font-size: 60px;
  text-align: center;
}

.messages::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

.messages::-webkit-scrollbar
{
  width: 5px;
  background-color: #F5F5F5;
}

.messages::-webkit-scrollbar-thumb
{
  background-color: #000000;
  border: 2px solid #555555;
}

.messageBox {
  display: flex;
  margin: 8px;
}

.messageContent > div {
  margin: 2px;
}

.name {
  align-self: flex-end;
  font-size:20px;
  font-weight: bold;
}

.messageContent {
  display:flex;
  flex-direction: column;
  padding: 20px;
  width: 18vw;
}

.chatProfile {
  height: 80px;
  width: 80px;
  border-radius: 15px;
  border-color: white;
  border-width: 3px;
  border-style: inset;
  align-self: center;
}

.chatForm {
  position: absolute;
  margin-bottom: 20px;
  bottom: 5px;
}

.chatMessage {
  text-align: left;
  padding: 10px;
}

.chatButton {
  display:none;
}

.textBoxContainer{
  display:flex;
  width: 27vw;
  justify-content: center;
}

.textBox {
  color: white;
  font-size: 17px;
  width: 25vw;
  background-color: rgba(0,0,0,0);
  border-radius: 10px;
  padding: 10px;
}

.emailFriends {
  position: absolute;
  margin-bottom: 15px;
  bottom: 0vh;
}

.userListContainer {
  display: flex;
  flex-wrap:wrap;
  max-height: 70vh;
  height: 70vh;
  overflow: auto;
  display:flex;
  justify-content: center;
}

.participantHolder {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.userButtons {
  display: flex;
  justify-content: center;
  width: 15vw;
  background-color: rgba(0, 0, 0, 0.5);
  max-height: 25vh;
  border-color: white;
  border-style: double;
  border-radius: 5px;
  flex-direction: column;
}
.voterStatusContainer {
  background-color: rgba(0, 0, 0, 0.5);
  border-color: white;
  border-style: double;
  border-radius: 5px;
  color:white;
  max-height: 25vh;
  overflow: auto;
}

.voterStatus {
  margin: 2vh;
  width: 8vw;
}

.emailHolder{
  display:flex;
  justify-content: center;
}

.voters {
  text-align: center;
}

.lobby {
  color:white;
  border-radius: 5px;
  position: relative;
  width:100%;
  max-height: 100vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.votingBoard {
  display:flex;
  color:white;
  background-color: rgba(0, 0, 0, 0.5);
  border-color: white;
  border-style: double;
  border-radius: 5px;
  text-align: center;
}

.participantContainer {
  text-align: center;
}

.startBtn {
  border-radius: 11px;
  color:white;
  border-color: white;
  border-style: solid;
  background-color: rgba(0,0,0,0);
  font-size: 2vh;
  padding: 15px 30px 15px 30px;
  text-decoration: none;
  margin: auto;
  margin-top: 1vh;
  margin-bottom: 1vh;
  height: 7vh;
  width: 12vw;
}

.startBtn:hover {
  background-color: rgba(255,255,255,0.5);
}

.voteboardContent {
  min-width:0;
  min-height:0;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 0px;
  max-width: 87vw;
}

.yelpRating {
  display: flex;
  position: absolute;
  z-index: 2;
  top: 195px;
  left: 26px;
}

.yelpStars {
  height: 22px;
  margin-left: 53px;
}

.reviewCount {
  margin-left: 5px;
  margin-bottom: 3px;
  font-size:17px;
  text-shadow: 2px 2px black;
  color: white;
  align-self: center;
}

.nominee {
  background-color: rgba(200,200,200,0.8);
  margin: 20px;
  height: 500px;
  width: 320px;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  position: relative;
}

.boardButtons {
  display: flex;
  flex-direction: column;
}

.boardButtons > div {
  text-align: center;
  color: white;
  height: 85px;
  width: 430px;
  margin-bottom: 20px;
  border-color: white;
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
  font-size: 40px;
  font-family: 'oswald', sans-serif;
  background-color: rgba(0, 0, 0, 0.6);
}

.togglePinned {
  margin-top: 10px;
}

.boardEmail {
  margin-top: 10px;
}

.boardLink {
  margin-top: 10px;
}

.boardLeft {
  margin-top: 5vh;
}

.winnerNominee {
  background-color: rgba(200,200,200,0.8);
  margin: 20px;
  height: 500px;
  width: 400px;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  position: relative;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

.winnerTime {
  margin-left: 107px;
}

.winnerTitle {
  color: white;
  text-align: center;
}

.nomineeName {
  text-align: center;
  font-family: 'selimaregular', sans-serif;
  text-shadow: 2px 2px black;
  color: white;
  font-size: 30px;
}

.winnerName {
  text-align: center;
  font-family: 'selimaregular', sans-serif;
  text-shadow: 2px 2px black;
  color: white;
  font-size: 45px;
}

.nomineeAddress {
  text-align: center;
  text-shadow: 2px 2px black;
  color: white;
}

.winnerDetails {
  margin-top: 20px;
  position:absolute;
  top: 280px;
  left: 18px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-family: 'Oswald';
  text-align: center;
  text-shadow: 2px 2px black;
  color: white;
}

.winnerDetails > div {
  margin: 20px;
  font-size: 20px;
}

.nomineeBG {
  height:370px;
  width: 400px;
  left: -30px;
  top: -10px;
  -webkit-filter: blur(4px);
  z-index: 1;
  position: absolute;
}

.winnerBG {
  height:600px;
  width: 500px;
  left: -30px;
  top: -10px;
  -webkit-filter: blur(4px);
  z-index: 1;
  position: absolute;
}

.nomineeInfo {
  z-index: 2;
  display:flex;
  flex-direction: column;
  position:absolute;
  width: 100%;
}

.nomineePic {
  height: 130px;
  width: 130px;
  border-radius: 50%;
  border-width: 3px;
  border-style: solid;
  border-color: white;
  margin: auto;
  margin-top: 52px;
  margin-bottom: 30px;
}

.winnerPic {
  height: 130px;
  width: 130px;
  border-radius: 50%;
  border-width: 3px;
  border-style: solid;
  border-color: white;
  margin: auto;
  margin-top: 39px;
  margin-bottom: 5px;
}

.infoBtnBoard {
  border-radius: 11px;
  color:white;
  border-color: white;
  border-style: solid;
  background: url('../images/yelp.jpg');
  text-decoration: none;
  margin: auto;
  height: 66px;
  width: 150px;
  margin-top: 0px;
  cursor: pointer;
}

.infoBtn {
  border-radius: 11px;
  color:white;
  border-color: white;
  border-style: solid;
  background: url('../images/yelp.jpg');
  text-decoration: none;
  margin: auto;
  height: 66px;
  width: 150px;
  margin-top: 45px;
  position: absolute;
  top:280px;
  right: 84px;
  z-index: 2;
}

.votes {
  text-align: center;
  font-size: 20px;
  font-family: 'Oswald';
  padding: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.infoBtn:hover {
  cursor: pointer;
}

.voteArrow:hover {
  -webkit-animation-name: pulse;
  animation-name: pulse;
  cursor: pointer;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.votingInterface {
  display: flex;
  margin-top: 10px;
  z-index: 2;
  top: 390px;
  left: 24px;
  position: absolute;
}

.voteControls {
  display: flex;
}

.haveVoted {
  width: 300px;
}

.voteStatusScroll {
  direction: rtl;
  max-height: 25vh;
  width: 300px;
  overflow: auto;
}

.voteStatusScroll::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

.voteStatusScroll::-webkit-scrollbar
{
  width: 5px;
  background-color: #F5F5F5;
}

.voteStatusScroll::-webkit-scrollbar-thumb
{
  background-color: #000000;
  border: 2px solid #555555;
}

.voteButtons {
  display: flex;
}

.voteButtons > div {
  font-size: 40px;
  font-family: 'selimaregular', sans-serif;
  display:flex;
  color: white;
  height: 200px;
  margin: 15px;
  margin-top: 50px;
  width: 250px;
  border-radius: 15px;
  border-width: 3px;
  border-color: white;
  border-style: solid;
  background-color: rgba(0, 0, 0, 0.6);
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.voteButtons > div:hover {
  cursor: pointer;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}

.boardButtons > div:hover {
  cursor: pointer;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}

.profileName {
  font-size: 30px;
  margin: auto;
  margin-left: 20px;
}

.haveVotedHeader {
  text-align: left;
  margin-left: 15px;
  color: white;
  font-size: 40px;
  font-family: 'selimaregular', sans-serif;
}

.statusImage {
  height: 75px;
  width: 75px;
  border-radius: 10px;
}

.pinStar {
  color: white;
  opacity: 0.5;
}

.pinStar:hover {
  opacity: 1;
  transition: opacity 0.5s;
  cursor: pointer;
}

.btnLink {
  color:white;
  text-decoration: none;
}

.winner {
  display:flex;
  color:white;
  text-align: center;
  flex-direction: column;
}

.winnerTitle {
  margin-top: 10px;
  font-size: 50px;
  font-family: 'selimaregular', sans-serif;
}

.winnerContent {
  text-align: center;
  margin-top: 30px !important;
  display:flex;
  margin: auto;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 250px;
  background-color: rgba(0, 0, 0, 0.5);
}

.winnerPicture {
  height: 150px;
  width: 225px;
  border-radius: 20px;
}

.pinnedMessages {
  display:flex;
  color:white;
  background-color: rgba(0, 0, 0, 0.5);
  border-color: white;
  border-style: double;
  border-radius: 5px;
  width: 100vw;
  text-align: center;
}

.pinnedMessagesContent{
  text-align: left;
  margin: auto;
}

.pinnedMessage {
  display:flex;
  color:white;
  background-color: rgba(0, 0, 0, 0.5);  border-color: white;
  border-style: double;
  border-radius: 5px;
  margin:2vw;
  width: 25vw;
  text-align: center;
}

.pinnedMessageContent{
  text-align: left;
  margin: auto;
}

.participantInfo {
  z-index: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width: 350px;
}

.participantPhoto {
  margin: auto;
  margin-top: 0px;
  border-width: 3px;
  height:170px;
  width:170px;
  margin-bottom: 10px;
  border-style: solid;
  border-radius: 50%;
}

.emailInvite {
  display: flex;
  justify-content: center;
  margin: auto;
}

.copyInvite {
  display: flex;
  justify-content: center;
  margin: auto;
}

.copyInvite > * {
  margin: auto;
}

.startVote {
  display: flex;
  justify-content: center;
  margin: auto;
}

.startVote > * {
  margin: auto;
}

.emailInvite > * {
  margin: auto;
}

.emailText {
  font-size: 25px;
  margin-left: 0;
}

.lobbyControls {
  display: flex;
  justify-content: center;
}

.lobbyControls > div {
  height: 100px;
  width: 300px;
  margin: 15px;
  margin-top: 50px;
  border-width: 3px;
  border-radius: 15px;
  border-color: white;
  border-style: outset;
  background-color: rgba(0, 0, 0, 0.6);
}

.lobbyControls > div:hover {
  cursor: pointer;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}

.participantBG {
  width: 350px;
  height: 350px;
  -webkit-filter: blur(9px);
  position: absolute;
  left:-40px;
  right:-40px;
}

.participantName {
  margin-bottom: 12px;
  font-size: 35px;
  text-shadow: 2px 2px black;
  font-family: 'selimaregular', sans-serif;
}

.userStatusContainer {
  display: flex;
  justify-content: flex-end;
  margin: 15px;
}

.hasVotedContent {
  text-align: center;
  color: white;
  margin-left: 30px;
  font-size: 30px;
  font-family: 'selimaregular', sans-serif;
}

.userContainer {
  display: flex;
  color:white;
  height: 300px;
  width: 300px;
  margin: 20px;
  margin-top: 10px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  justify-content: center;
  border-style: inset;
  border-width: 3px;
}

.userKick {
  border-radius: 5px;
  margin: 6px;
  padding: 2px;
  width: 60px;
  height: 20px;
  background: rgba(230,0,0,0.7);
  align-self: flex-end;
}

.userKick:hover {
  background: rgba(230,0,0,1);
  cursor: pointer;
}

.peopleVoted {
  color: white;
  font-family: 'selimaregular', sans-serif;
  font-size: 60px;
  text-align: center;
  padding-top: 20px;
}

.userListContainer::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

.userListContainer::-webkit-scrollbar
{
  width: 5px;
  background-color: #F5F5F5;
}

.userListContainer::-webkit-scrollbar-thumb
{
  background-color: #000000;
  border: 2px solid #555555;
}

.profilePicture {
  height:100px;
  width: 100px;
  border-radius: 50%
}
