.pollingContainer {
  display: flex;
  flex-direction: column;
}

.votefieldContainer {
  display: flex;
  height: 70vh;
}

.nominationContainer {
  display: flex;
  overflow:auto;
}

.controlBoardContainer {
  display:flex;
  height: 30vh;
  margin: 2vh;
  width: 100vw;
  margin: auto;
  justify-content: center;
}

.chatbox {
  background-color: rgba(0, 0, 0, 0.5);
  color:white;
  padding-left: 2vh;
  width: 60vw;
  border-color: white;
  border-style: double;
  border-radius: 5px;
  max-height: 25vh;
  position: relative;
}

.emailFriends {
  position: absolute;
  margin-bottom: 15px;
  bottom: 0vh;
}

.chatForm {
  position: absolute;
  bottom: 0vh;
}

.textBox {
  width: 52vw;
  margin: 10px;
  padding-bottom: 5px;
}

.userListContainer {
  display: flex;
  flex-wrap:wrap;
  max-width: 97vw;
  margin:auto;
  overflow: auto;
  display:flex;
  justify-content: center;
}

.participantHolder {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.userButtons {
  display: flex;
  justify-content: center;
  width: 15vw;
  background-color: rgba(0, 0, 0, 0.5);
  max-height: 25vh;
  border-color: white;
  border-style: double;
  border-radius: 5px;
  flex-direction: column;
}
.voterStatusContainer {
  background-color: rgba(0, 0, 0, 0.5);
  border-color: white;
  border-style: double;
  border-radius: 5px;
  color:white;
  max-height: 25vh;
  overflow: auto;
}

.userContainer {
  display: flex;
  color:white;
  margin: 55px;
  margin-top: 10px;
}

.voterStatus {
  margin: 2vh;
  width: 8vw;
}

.emailHolder{
  display:flex;
  justify-content: center;
  margin-right: 24vw;
}

.voters {
  text-align: center;
}

.messages {
  max-height: 21vh;
  overflow: auto;
  position: absolute;
  width: 60vw;
  bottom: 4vh;
}

.lobby {
  color:white;
  background-color: rgba(0, 0, 0, 0.5);
  border-color: white;
  border-style: double;
  border-radius: 5px;
  margin: 2vw;
  position: relative;
}

.votingBoard {
  display:flex;
  color:white;
  background-color: rgba(0, 0, 0, 0.5);
  border-color: white;
  border-style: double;
  border-radius: 5px;
  margin:2vw;
  width: 100vw;
  text-align: center;
}

.participantContainer {
  text-align: center;
  width: 95vw;
}

.startBtn {
  border-radius: 11px;
  color:white;
  border-color: white;
  border-style: solid;
  background-color: rgba(0,0,0,0);
  font-size: 2vh;
  padding: 15px 30px 15px 30px;
  text-decoration: none;
  margin: auto;
  margin-top: 1vh;
  margin-bottom: 1vh;
  height: 7vh;
  width: 12vw;
}

.startBtn:hover {
  background-color: rgba(255,255,255,0.5);
}

.voteboardContent {
  margin: auto;
  overflow: auto;
  max-width: 87vw;
}

.nominee {
  margin: 5vh;
}

.infoBtn {
  border-radius: 11px;
  color:white;
  border-color: white;
  border-style: solid;
  background-color: rgba(0,0,0,0);
  font-size: 2vh;
  padding: 15px 30px 15px 30px;
  text-decoration: none;
  margin: auto;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.infoBtn:hover {
  background-color: rgba(255,255,255,0.5);
}

.profileName {
  font-size: 30px;
  margin: auto;
  margin-left: 20px;
}

.btnLink {
  color:white;
  text-decoration: none;
}

.winner {
  display:flex;
  color:white;
  background-color: rgba(0, 0, 0, 0.5);  border-color: white;
  border-style: double;
  border-radius: 5px;
  margin:2vw;
  width: 100vw;
  text-align: center;
}

.winnerContent {
  text-align: center;
  margin: auto;
}

.profilePicture {
  height:100px;
  width: 100px;
  border-radius: 50%
}
