.profile_pic {
  border-radius: 50%;
  background: blue;
  position: absolute;
  top: 0;
  right: 0;
}

.Header {
  background: #666;
}

h2 {
  text-align: center;
}

.NomineesWrap, .SuggestionsWrap {
  margin: auto;
  overflow: auto;
}

.Nominee, .Suggestion {
  float: left;
  padding: 15px;
}

.center {
  text-align: center;
}